

#account-icon{
  width: 60px;
  margin-right: 20px;
}

.hello{ 
font-size: 30px;
color: #0C2443;
line-height: 30px;
margin-top:20px;
margin-bottom: 20px;
/*font-weight: 700;
*/}

.email{
font-size: 16px;
line-height: 30px;
margin-top: -10px;
}

.tags-account li{ 
    font-size: 18px;
    font-family: "museo-sans-condensed";
    display: inline-block;
    list-style: none;
    float: left;
    margin-right: 10px;
    letter-spacing: 1px;
   }

.tags-account{
  margin-top: 20px;
  margin-left: -40px;
   }

.tags-account a li:hover{
    font-weight: bold;
  color: #265AD9;
}


.edit{
  margin-top: 20px;
  font-size: 12px;
  float: right;
}

a #edit:hover{
 fill: #265AD9; 
}
.feature-icons {
  margin-left: -40px;
}

.feature-icons li{
  vertical-align: top;
  list-style: none;
  text-decoration: none;
}

.feature-icons a img{
width: 120px;
  vertical-align: bottom;
}

.feature-inactive{
  color: #929090;
}

/*a .feature-title:hover {
      text-decoration: none;
      color: red;
}
*/
.feature-title {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 20px;
}
.feature-blurb{
  font-family: "freight-text-pro";
  font-size: 14px;
}

.features img{
  height: 100px;
}

.middle-line{
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform .8s ease-in-out;
}

.middle-line:hover{
    cursor: default;
    transform: rotate(-6deg);
    transition: all 0.9s ease-in-out 0s;
}

.upgrade{
  float: right;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
}
.upgrade img {
  width: 50px;
}


.plus-sign .more-features{ 
      color: #265AD9;
 margin: auto;
  margin-top: 50px;
    margin-left: 35%;

 }

.plus-sign:hover{ 
    stroke-width:4px;
    color: red;
 }


/*line animation*/



.outer {
  border-top: 1px solid;
  width: 100px;
  position: relative;
  transition: all 0.9s ease-in-out 0s;
  margin-top: 20px;

}
  .tilt-line {
      transform: rotate(180deg);
  }

  .top{
    margin-bottom: 100px;
  }




/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:767px){


.feature-title {
    margin-left:30px;
}

.tags-account {
    margin-left: -10px;
}

.hello {  
  font-size: 26px;
  margin-left:30px;}
#account-icon{
  width:40px;
}
.upgrade img {
    width: 40px;
}
.more-features{
     margin-left:30px; 
}
.email{    margin-left:30px;}
#main-content {
    margin-top: 70px;
}


} /*end of media screen 767px*/

