
/* ==========================================================================
   Custom styles
   ========================================================================== */


 body {
   padding-top: 50px;
   padding-bottom: 20px;
  font-family: "museo-sans";
   color: #0C2443;
   background-color: #FAFAFA;
 }

#gray-box{
  background-color: #FAFAFA;
  height: 110px;
}

a {color: #0C2443;}
a:hover{ color: #265AD9; }
a:active, a:focus, a:link {
  text-decoration: none;
}

img{width: 100%;}

hr {
  border-color: #333;
  -moz-transform: rotate(0.8deg);
  -o-transform: rotate(0.8deg);
  -webkit-transform: rotate(0.8deg);
  -ms-transform: rotate(0.8deg);
  transform: rotate(0.8deg);
}

.menu-hr{
  -moz-transform: rotate(-0.8deg);
  -o-transform: rotate(-0.8deg);
  -webkit-transform: rotate(-0.8deg);
  -ms-transform: rotate(-0.8deg);
  transform: rotate(-0.8deg);
}

#topHeader{
  width: 100%;
}


/* ==========================================================================
   article page
   ========================================================================== */

.article {
          margin: auto;}
.article-heading{ 
           font-size: 38px; 
          line-height: 1.2;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 10px;
        }

.article-sub-heading{
           font-family: "freight-text-pro";
          font-size: 18px;
           margin-bottom: 10px;
           line-height: 1.4em;
           margin-top: 10px;
        }

.article-text{
  font-size: 18.5px;
  line-height: 1.36em;
  font-family: "freight-text-pro";
  margin-top: 20px;
  opacity: .8;
    font-weight: lighter;

}    

.about-text{
  font-size: 19px;
  line-height: 1.6em;
  font-family: "freight-text-pro";
  opacity: .8;
    font-weight: lighter;
margin-bottom: 50px;
}    

.staff-name{
  font-size: 22px;
  line-height: 1.2em;

} 

.staff-text{
  font-size: 14px;
  line-height: 1.2em;
  font-family: "freight-text-pro";
  margin-top: 20px;
  opacity: .8;
    font-weight: lighter;
margin-bottom: 50px;
}    

.team {
font-size: 30px;
color: #0C2443;
line-height: 30px;
margin-bottom:30px;
}

.create-account{
  border: solid 1px #0C2443;
  padding: 10px;
  width: 150px
  text-align: center;
   vertical-align: middle;
   margin-left: 30px;
}

a .create-account:hover{
  list-style: none;
 font-weight: bold;
 color: #265AD9;

}

.comments-title{
 font-size: 30px;
 line-height: 1.2;
 margin-top: 40px; 
 margin-bottom: 20px; 
}

.most-popular{ 
  float: right;
  font-size: 24px;
  padding-bottom: 6px;
/*  border-bottom: 1px solid #0C2443;
*/
}

.may-missed{ 
    float: right;
  font-size: 24px;
  padding-bottom: 6px;
/*  border-bottom: 1px solid #0C2443;
*/}
.pop-line{
  margin-top: -15px;
  margin-bottom:-5px;
}

.pop-line:hover{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

.pop-line:hover{
    cursor: default;
    transform: rotate(20deg);
    transition: all 0.9s ease-in-out 0s;
}
.small-article-heading{
          font-size: 24px;
          font-weight: bold;
          line-height: 1.2;
          margin-top: 10px;
        }


.article_icons{
  list-style: none;
  /*float:right;*/
  width: 100%;
}

.article_icons li{
  width: 30px;
  display: inline-block;
}

.end_article_icons li{
margin-top: 60px;
  position: center;
    list-style: none;
      display: inline-block;

}

#print-icon:hover{
  fill:#265AD9;
     stroke-width:3px;
}
#bookmark-icon:hover{
  fill:#265AD9;
     stroke-width:3px;
}
#star-icon:hover{
  fill:#265AD9;
     stroke-width:3px;
}

#share{
    list-style: none;
      width: 100%;
}
#share li{display: inline-block;}

#twitter-icon:hover{
    fill:#265AD9;
       stroke-width:3px;
}

#facebook-icon:hover{
    fill:#265AD9;
}

#comment:hover{   
  fill:#265AD9;
  stroke-width:3px;
}

.tags a li:hover{
  font-weight: 500;
  color: #265AD9;
}

.tags {
    margin-top: 20px;
}
.tags li {
    font-size: 12px;
    font-family: "museo-sans-condensed";
    color: #929090;
    display: inline-block;
    list-style: none;
    float: left;
    margin-right: 8px;
    letter-spacing: 1px;
}

/* ==========================================================================
   Structure
   ========================================================================== */

/* Nav */

.current .main-menu{
  color: #265AD9;
}

.navbar .navbar-fixed-top{
  background-color: #FAFAFA;
}

.navbar-brand{
  width: 220px;
}

nav .navbar-nav .fullnav{
    background-color: #FAFAFA;
}

hr{margin-top: 0;
}

#line_footer{
  margin-bottom: 10px;
}

#myNavBar{
  clear: both;
  margin-top: 20px;
  font-weight: bold;
}

#notCollapsible{
  float: right;
}

#notCollapsible li{
  display: inline !important;
  position: static;
  float: left;
}

.glyphicon .glyphicon-user
{background-image: url('content/icons/noun_81067_cc.svg');}

/*#myNavBar ul{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
}*/

/*#myNavBar ul li{
  -webkit-flex: 1;
  flex: 1;
}*/

#myNavBar ul li.current:hover{
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}

#myNavBar ul li.tilt:hover{
  /*-webkit-flex: 3;
  flex: 3;*/
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -webkit-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}

#myNavBar ul li.tilt:hover > ul.dropdown-menu {
display: block;
}



/*#notCollapsible{
  float: right;
}

#notCollapsible li{
  display: inline !important;
  position: static;
  float: left;
}*/


.fullnav{width: 100%;}

.fullnav > li {
    width: 132px;
}
.fullnav > li.uneven{
  float: right;
  text-align: right;
}

/* Content */

#main-content{margin-top: 100px;}


/* Footer */

footer {

  margin-top: 3em;
}
#footer-menu li a:link{
    text-decoration: none;
}

#footer-menu{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  list-style: none;
}

#footer-menu li{
  -webkit-flex: 1;
  flex: 1;
}

#footer-menu li.copy{
  -webkit-flex: 3;
  flex: 3;
}

#main_top{
/*  background-color:  #FAFAFA;
*/}

/* ==========================================================================
  Boostrap overwritten rules
  ========================================================================== */
ul.dropdown-menu {
   background-color: rgb(252, 252, 252);
   -webkit-background-clip: padding-box; 
   background-clip: padding-box; 
   border: 0; 
   border-radius: 0; 
   -webkit-box-shadow: 0 0 0; 
   box-shadow: 0 0 0; 
   font-family: "museo-sans-condensed";
   text-transform: capitalize;
   font-weight: 100;
}

ul.dropdown-menu a{
  font-size: 17px;
  margin-bottom:5px; 
}

li.menu-box ul{
  border: 1px solid;
}
.nav .open>a:focus {

    background-color: transparent; 
     border-color: transparent; 
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #265AD9;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;

}

.main-menu{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar .navbar-toggle .icon-bar {
    background-color: black;
}

button.navbar-toggle:nth-child(1) {
  transform: rotate(20deg);
}

.nav>li>a:hover, .nav>li>a:focus {
background-color: transparent;
}

.fullnav{
}

.navbar-right li a{
  margin-:-15px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin-top: -20px;
}
/*.nav li a {font-size: 15px;}
*/
#search-form{
      padding-top: 15px;
    padding-bottom: 15px;
    display: none;
}


#search-form input{
 font-family: Theinhardt;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0C2443;
    line-height: 2em;
}

input:focus{
  outline:none;
}

p.meta{
  font-family: "freight-text-pro";
  color: #7E7980;
  margin-top: 10px;
}
.meta_article {
    font-family: "museo-sans";
    font-weight: 700;
    color: #4571DB;
}

.image-caption{
  font-family: "freight-text-pro";
  color: #7E7980;
  margin-top: 10px;
  font-size: 12px;
}
.modal-header{
  display: none;
}

.modal-content{
  border-radius: 0px;
  border: 0 transparent;
  background-color: #FAFAFA;
  padding:10px;
  line-height: 0.8em;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.5); */
    box-shadow: 0 0px 0px rgba(0,0,0,.5); */

}

.modal-content input{
  font-family: Theinhardt;
  background-color: transparent;
  border: none;
  border-bottom:1px solid #0C2443; 
  margin-bottom: 10px;
  line-height: 2em;
}



form .pass-mail{
  font-size: 18px;
}

.modal-footer .btn{
  border-radius: 0px;
  border:0px;
}


.btn-primary{
  background-color: #0C2443;
  color: #FAFAFA;
}

.btn-primary:hover{
    background-color: #265AD9;

}

.btn-default {
     background-color: #0C2443;
       color: #FAFAFA;
}

.btn-default:hover{
    background-color: #265AD9;
    color: #FAFAFA;
}


/*div.modal-content a:link :visited :hover :active{
  text-decoration: none;
}*/

.modal-content a .login-with{
  color: #265AD9;
  text-decoration: none;
}

.modal-body form{
  margin-top: 25px;
}
.modal-footer {
    padding: 8px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

/* ==========================================================================
   SVG
   ==========================================================================
   */

#bindi:hover{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#bindi:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.9s ease-in-out 0s;
}

#search:hover{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#search:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.9s ease-in-out 0s;
}

#svg3{
  background-color: ;
  /* for didatic purposes only ;) this background-color can be removed */
  /* the id given to this element is arbitrary - it could/should be more informative */
  /*
  width:100%;
  height:40px;
  */
}
#footer-line{
  fill:none;
  fill-rule:evenodd;
  stroke: #fff;
  stroke-width:1px;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
}

.st0{fill:#FAFAFA;}
.st1{fill:#0C2443;stroke:#000000;stroke-miterlimit:10;}

#myPath {
  stroke-width:1px;
}

#foo{
/*border-radius:50px;
background:#c00;*/

width:95px;
height:95px;
position:absolute;
top:0;
left:0;
-moz-transition: transform 1s; 
-webkit-transition: transform 1s;  
-ms-transition: transform 1s;  
-o-transition: transform 1s;  
transition: transform 1s;   
}

#top-line{
  margin-top: -15px;
}
.top-arrow{ 
 margin: auto;
  margin-top: 50px;
    margin-left: 35%;

 }

.top-arrow:hover{ 
    stroke-width:2px;
 }


#fischliweiss:hover{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}

#fischliweiss:hover{
    cursor: default;
    transform: rotate(360deg);
    transition: all 0.9s ease-in-out 0s;
}




/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:991px){

  /* you can remove the line below, put here to make it easier to 'see' the breakpoint */
  body{/*background-color: red;*/}

  /* try commenting it out to see what happens */
  .fullnav > li {
      width: 92px;
  }
  .main-menu a:hover{
/*figure out*/
  }

}/* end max-width 991 */

@media screen and (max-width:767px){

  /* you can remove the line below, put here to make it easier to 'see' the breakpoint */
  body{/*background-color: green;*/}

}/* end max-width 767 */
