#fullscreen{
	float: right;
}
.caption-photo{
	color: #929090;
	font-size: 14px;

	margin-top: 0;

}

#article-image-gallery-text{
		margin-top: 15px;
		margin-left: 30px;
}

.fullscreen-background{
	background-color: #07172B;
	padding-top: 40px;
}

.fullscreen-background>.container{
  width: 100%;
}

.col-sm-7{
	padding-left: 0;
	padding-right: 0;
}

.add-padding{
	padding-left: 15px;
}

 .article-heading-photo{
	font-size: 38px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: -10px;
}

.article-sub-heading-photo{
	margin-top: 30px;
}

#left-arrow{
	fill:#265AD9;
  background-color: rgba(249,249,249,.5);
	padding: 3px;
	transition: all 0.4s ease-in-out 0s;
}

#left-arrow-full{
	margin-left: 30px;
	fill:#FAFAFA;
	padding: 3px;
	transition: all 0.4s ease-in-out 0s;
}

#left-arrow:hover{
	 stroke-width:3px;
	 transform: rotate(-5deg);
}

#left-arrow-full:hover{
	 stroke-width:3px;
	 transform: rotate(-5deg);
}

#right-arrow{
	padding: 3px;
	float: right;
	fill:#265AD9 ;
    background-color: rgba(249,249,249,.5);
    transition: all 0.4s ease-in-out 0s;
}
#right-arrow-full{
	margin-right: -60px;
	padding: 3px;
	float: right;
	fill:#FAFAFA ;
	transition: all 0.4s ease-in-out 0s;
}

#right-arrow:hover{
	 stroke-width:3px;
	 transform: rotate(5deg);
}

#right-arrow-full:hover{
	 stroke-width:3px;
	 transform: rotate(5deg);
}

#photo-arrows{
	margin-top: 150px;
	width: 100%;
	position: absolute;
}

#exit{
	float: right;
	margin-right: 30px;
}

#photo-credits{
	color: #929090;
	font-size: 12px;
}

.image-number{
	color: #999;
	font-size: 18px;
	font-weight: lighter;
}
